<%- include('./include/head.ejs') %>
    <div class="container">
        <div class="contents carsale">
            <h1 class="title">판매목록</h1>  
            <h3 class="counting">총 <span><%= totalCount %></span>개</h3>
            <!-- <form action="/car/hashtag">
                <input type="text" name="hashtag">
                <button class="btn">검색</button>
            </form> -->
            <ul class="viewImg">
              <% Cars.forEach(function(carList) { %>
              <li>
                  <div class="profile" onclick="location.href='/car/detail/<%= carList.num %>'">
                    <% if (carList.picture.length > 0) { %>
                    <img src="<%= carList.picture[0].url %>" alt="" class="thumbnail">
                    <% } %>
                    <div class="middle_li">
                      <p><%= carList.brand %> <%= carList.model %></p>
                      <div class="option">
                        <span>연식 <%= carList.year %>, </span>
                        <span><%= carList.mile %> km, </span> 
                        <span><%= carList.fuel %>, </span> 
                        <span><%= carList.hashtag %></span>
                      </div>
                    </div>
                  </div>
                  <div class="buttonBox">
                    <button class="Car-btn" onclick="confirmEdit('<%= carList.carNum %>')">수정</button>
                    <form action="/car/delete/<%= carList.carNum %>" method="POST" onsubmit="return confirm('정말로 삭제하시겠습니까?')">
                      <input class="Car-btn del-btn" type="submit" value="삭제" />
                    </form>
                  </div>
              </li>
              <% }); %>
            </ul>
            
            <% if (totalPages > 1) { %>
                <nav>
                  <ul class="pagination">
                    <% if (currentPage == 1) { %>
                      <li class="disabled"><span>&laquo;</span></li>
                    <% } else { %>
                      <li><a href="?page=<%= currentPage - 1 %>">&laquo;</a></li>
                    <% } %>
              
                    <% for (let i = 1; i <= totalPages; i++) { %>
                      <% if (i == currentPage) { %>
                        <li class="active"><span><%= i %></span></li>
                      <% } else { %>
                        <li><a href="?page=<%= i %>"><%= i %></a></li>
                      <% } %>
                    <% } %>
              
                    <% if (currentPage == totalPages) { %>
                      <li class="disabled"><span>&raquo;</span></li>
                    <% } else { %>
                      <li><a href="?page=<%= currentPage + 1 %>">&raquo;</a></li>
                    <% } %>
                  </ul>
                </nav>
              <% } %>
              <div class="goupload">
                <a href="/car/carupload" class="goupBtn">내차등록</a>
              </div>
        </div>
    </div>
<script>
    function confirmEdit(carNum) {
    if (confirm('정말로 수정하시겠습니까?')) {
      location.href = '/car/caredit/' + carNum;
    }
  }
</script>
<%- include('./include/footer.ejs') %>
</body>
</html>

