<%- include ./include/head.ejs %>


<div class="container">
    <section class="box">
        <aside class="mypage_left_area">
            <a href="/mypage"><div class="left_area_top">나의 CarCarO</div></a>
            <ul class="left_area_box">
              <li class="left_area_list">
                <a href="/mypage/mylikescar/<%= user.id %>">관심차량</a>
              </li>
              <li class="left_area_list">
                <a href="/mypage/myinquiry/<%= user.id %>"> 내 문의</a>
              </li>
              <li class="left_area_list">
                <a href="mypage/password/<%= user.id %>">회원정보</a>
              </li>
            </ul>
          </aside>
          <form action="/mypage/edit/" id="editform" method="post" class="form" style="float: left; width: 50%;">
            <h1 class="title">회원 정보 수정</h1>
            <label for="">
            <input id="id" type="text" name="id" value="<%= user.id %>" readonly></label>
            <label for="">
            <input id="pw" type="password" name="password" value="" placeholder="비밀번호를 입력해주세요" onkeyup="checkPassword()">    
            <span id="password_feedback"></span></label>
            <label for="">
            <input id="pw_confirm" type="password" name="password_confirm" placeholder="비밀번호 확인을 입력해주세요" value=""></label>
            <span id="password_confirm_feedback"></span></label>
            <label for="">
            <input id="name" type="text" name="name" value="<%= user.name %>" readonly></label>
            <label for="">
                <div class="phone">
                    <input id="tel" type="number" name="tel" value="<%= user.tel %>" placeholder="전화번호를 입력해주세요"></div></label>
                    <span id="tel_feedback"></span>
            <label for="">
            <input id="email" type="email" name="email" value="<%= user.email %>" placeholder="이메일을 입력해주세요"></label>
            <span id="email_feedback"></span>
            <label for="">
            <input id="birth" type="number" name="birth" value="<%= user.birth %>" placeholder="나이를 입력해주세요"></label>
            <span id="birth_message"></span>
            <div class="btn_box">
                <button type="button" class="cancel_btn" onclick="cancel()">취소</button>
                <button type="button" onclick="checkForm()" class="edit_btn">정보 수정</button>
            </div>
        </form>
    </section>
    <form id="withdrawForm" method="POST" action="/mypage/withdraw" style="float:left; width:50%">
        <button type="submit" class="withdraw_btn" onclick="confirmWithdraw(event)">탈퇴하기</button>
    </form>
    <script>
        function confirmWithdraw(event) {
          // confirm 대화 상자를 띄움
          if (!confirm('정말로 탈퇴하시겠습니까?')) {
            event.preventDefault(); // 요청을 보내는 것을 중단함
          }
        }
        function cancel() {
          location.href = '/mypage'; // 마이페이지로 돌아감
        }
        const edit_form = document.getElementById('editform');
        const pw = document.getElementById('pw');
        const password_feedback = document.getElementById('password_feedback');
        const pw_confirm = document.getElementById('pw_confirm')
        const tel = document.getElementById('tel');
        const email = document.getElementById('email');
        const birth = document.getElementById('birth');
        const passwordFeedback = document.getElementById('password_feedback');
        const password_confirm_feedback = document.getElementById('password_confirm_feedback');
        const telFeedback = document.getElementById('tel_feedback');
        const emailFeedback = document.getElementById('email_feedback');
        const birthFeedback = document.getElementById('birth_feedback');

        // 비밀번호와 비밀번호 확인 필드의 값을 비교하는 이벤트 리스너
        pw_confirm.addEventListener('input', updateValue);

        function updateValue(e) {

            console.log(typeof pw, typeof pw_confirm);

            if(pw.value === pw_confirm.value) {
                password_confirm_feedback.textContent = "비밀번호가 일치 합니다";
                password_confirm_feedback.style.color = 'green';
            }else{
                password_confirm_feedback.textContent = "비밀번호가 일치하지 않습니다";
                password_confirm_feedback.style.color = 'red';
            }
        }

        function checkForm() {

            if(pw.value === ''){
                pw.focus()
                return false;
            }
            if (!checkPassword()) { // 비밀번호 유효성 검사를 수행
                pw.focus();
                return false;
            }
            if(!pw_confirm.value === ''){
                alert('비밀번호 확인을 입력해주세요');
                pw_confirm.focus()
                return false;
            }
            if(pw.value !== pw_confirm.value){
                alert('비밀번호와 비밀번호 확인이 일치하지 않습니다');
                pw_confirm.focus()
                return false;
            }
            if(tel.value === ''){
                alert('휴대폰 번호를 입력해주세요')
                tel.focus()
                return false;
            }

            if (!checkTel()) { // 휴대폰 번호 유효성 검사를 수행
                tel.focus();
                return false;
            }


            if(email.value === ''){
                alert('이메일을 입력해주세요')
                email.focus()
                return false;
            }

            if (!checkEmail()) { // 이메일 유효성 검사를 수행
                pw.focus();
                return false;
            }

            if(birth.value === ''){
                alert('나이를 입력해주세요');
                birth.focus()
                return false;
            }

            edit_form.submit();
        }


        // 비밀번호 유효성 검사
        function checkPassword() {
            const passwordFeedback = document.getElementById('password_feedback');
            const pw = document.getElementById('pw');
            const pwCheck = /^(?=.*[a-zA-Z])(?=.*[!@#$%^*+=-])(?=.*[0-9]).{8,20}$/;

            if (!pwCheck.test(pw.value)) {
                passwordFeedback.textContent = '비밀번호는 영문 + 숫자 + 특수문자 조합으로 8~20자리로 설정하셔야 합니다';
                passwordFeedback.style.color = 'red';
                return false;
            } else {
                passwordFeedback.textContent = '사용 가능한 비밀번호입니다';
                passwordFeedback.style.color = 'green';
                return true;
            }
        }

            // 전화번호 유효성 검사
        tel.addEventListener('input', checkTel);
        function checkTel() {
            const telValue = tel.value;
            const telRegex = /^(01[016789]{1})-?[0-9]{3,4}-?[0-9]{4}$/;

            if (!telRegex.test(telValue)) {
                telFeedback.textContent = '올바른 전화번호가 아닙니다';
                telFeedback.style.color = 'red'
                return false;
            } else {
                telFeedback.textContent = '올바른 전화번호입니다';
                telFeedback.style.color = 'green';
                return true;
            }
        }

        // 이메일 유효성 검사
        email.addEventListener('input', checkEmail);
        function checkEmail() {
            const emailValue = email.value;
            const emailRegex = /^[a-zA-Z0-9._%+-]+@[a-zA-a-zA-Z.-]+\.[a-zA-Z]{2,}$/i;

            if (!emailRegex.test(emailValue)) {
                emailFeedback.textContent = '올바른 이메일 주소가 아닙니다';
                emailFeedback.style.color = 'red';
                return false;
            } else {
                emailFeedback.textContent = '올바른 이메일 주소입니다';
                emailFeedback.style.color = 'green';
                return true;
            }
        }
</script>
</div>
<%- include('./include/footer.ejs') %>
