<%- include ./include/head.ejs %>

<div class="container">
    <section class="box">
        <aside class="mypage_left_area">
            <a href="/mypage"><div class="left_area_top">나의 CarCarO</div></a>
            <ul class="left_area_box">
              <li class="left_area_list">
                <a href="/mypage/mylikescar/<%= user.id %>">관심차량</a>
              </li>
              <li class="left_area_list">
                <a href="/mypage/myinquiry/<%= user.id %>"> 내 문의</a>
              </li>
              <li class="left_area_list">
                <a href="/mypage/password/<%= user.id %>">회원정보</a>
              </li>
            </ul>
          </aside>
          <form action="/mypage/edit/<%= user.id %>" method="post" class="form" style="float: left; width: 30%;">
            <h1>비밀번호 확인</h1>
                <label for="password">
                <input type="password" id="password" name="password" required placeholder="비밀번호 확인">
                <button type="submit" style="position: absolute; left: 50px; bottom: 50px; width: calc(100% - 100px);">확인</button>
            </form>
    </section>
</div>

<%- include('./include/footer.ejs') %>
