<%- include('../include/managerhead.ejs')%>
<link rel="stylesheet" href="/stylesheets/manager/managerinquiry.css" />
<div class="container5">
  <div class="contents5">
    <div class="titletext"><i class="fa-solid fa-comment fa-fade"></i>게시판관리</div>
    <hr class="hrtitle" />
    <h2>1대1문의</h2>
    <div>
      <ul>
        <% twits.forEach(function(twit) { %>
        <li>
          <a
            style="color: white"
            href="/manager/managerinquiry/<%= twit.number%>"
          >
            <span>
              <% if (twit.answer !== null) { %>
              <div style="font-weight: bold; color: green">답변완료</div>
              <% } else { %>
              <div class="check" style="color: blue">답변 중</div>
              <% } %>
            </span>
            <span style="color: black">
              <%= twit.updatedAt.getFullYear() %>년 <%=
              (twit.updatedAt.getMonth() + 1) %>월 <%= twit.updatedAt.getDate()
              %>일 (<%= ["일", "월", "화", "수", "목", "금",
              "토"][twit.updatedAt.getDay()] %>) </span
            ><br />
            제목: <%= twit.title %></a
          ><br /><br />
          작성자: <%= twit.user_id %><br /><br />
          <hr />
          <br /><br />
        </li>
        <% }); %>
      </ul>
    </div>
  </div>
</div>
